#app {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  padding: 0px;
}

#left {
  box-sizing: border-box;
  border: 10px solid #FFF;
  position: relative;
  background-blend-mode: multiply;
  background-color: white;
  overflow: hidden;
  padding: 0px;

}

#right {
  /*background: blue;*/
  /*border: 10px solid #64FFDA;*/
  /*background-image: url('images/shit.jpg');*/
}

.heading {
  font-family: 'Libre Baskerville', serif;
  text-transform: uppercase;
  line-height: 1em;
  font-size: 2em;
  padding: 8px;
}

nav {
  width: 100%;
  position: relative;
  /*padding: 0px !important;*/
  height: 30px;
}

nav div {
  /*margin: 0px !important;*/
}

h2 {
  margin: 0;
  font-size: 1em;
  font-weight: 700;
  line-height: 1em;
}

.grid-content h2 {
  text-transform: uppercase;
}

.grid-content p {
  line-height: 1.1em;
  font-weight: 500;
}